footer {
  background: rgb(33, 40, 58);
  color: white;
  text-align: center;
  padding: 50px;
}

header .navBar {
  background: rgb(33, 40, 58);
  color: white;
  width: 100%;
  position: fixed;
  display: flex;
}
header .navBar .burger {
  width: 40px;
  padding: 20px;
  padding-right: 30px;
}

main .featured {
  padding: 50px;
}
main .featured section {
  padding-bottom: 60px;
}
main .featured section #icone {
  background-color: rgb(51, 133, 255);
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  width: 60px;
  height: 50px;
  border-radius: 10px;
}
main .featured section p {
  font-size: 14px;
  color: rgb(44, 44, 44);
}
main .featured section a {
  color: rgb(51, 133, 255);
  text-decoration: none;
}
main .zone_grise {
  background-color: rgb(241, 241, 241);
  padding: 50px;
  text-align: center;
  border-top: 1px solid rgb(133, 133, 133);
}
main .zone_grise .priceCard {
  background: white;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 3px;
  padding: 30px;
  margin-bottom: 40px;
  text-align: left;
}
main .zone_grise .priceCard h4 {
  font-size: 14px;
}
main .zone_grise .priceCard .plan {
  font-size: small;
}
main .zone_grise .priceCard .liens {
  border-radius: 5px;
  border: 1px solid rgb(51, 133, 255);
  color: rgb(51, 133, 255);
  padding: 10px;
  text-decoration: none;
}
main .zone_grise .priceCard .liens:hover {
  background-color: rgb(51, 133, 255);
  color: whitesmoke;
}
main .zoneFaq {
  padding: 50px;
  text-align: center;
}
main .zoneFaq .faqRep {
  background: white;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 3px;
  padding: 20px;
  margin-bottom: 40px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
main .zoneFaq .faqRep .msgIco {
  color: rgb(51, 133, 255);
  font-size: 20px;
  padding: 10px;
  padding-top: 20px;
}
main .zone_grise2 {
  background-color: rgb(241, 241, 241);
  padding: 50px;
  text-align: center;
  border-top: 1px solid rgb(133, 133, 133);
}
main .zone_grise2 .env {
  color: rgb(51, 133, 255);
  font-size: 70px;
}
main .zone_grise2 p {
  font-size: 14px;
  color: rgb(98, 98, 98);
}
main .zone_grise2 form #input {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  align-self: center;
}
main .zone_grise2 form #inputMsg {
  width: 100%;
  margin-bottom: 20px;
  align-self: center;
}
main .zone_grise2 form .submit {
  width: 100%;
  align-self: center;
  border-radius: 3px;
  border: none;
  background: rgb(51, 133, 255);
  padding: 10px;
  color: whitesmoke;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1200px) {
  header .navBar .burger {
    display: none;
  }
  header .navBar .desktopNav {
    display: flex;
  }
  header .entete {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    margin-top: 10px;
  }
  header .entete .presentation {
    font-size: 14px;
  }
  header .entete .lien1 {
    margin-left: 40px;
    margin-top: 10px;
  }
  header .entete .lien2 {
    margin-left: 30px;
    margin-top: 10px;
  }
  main .featured {
    display: flex;
  }
  main .zone_grise {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main .zone_grise h3 {
    width: 100%;
  }
  main .zone_grise p {
    width: 100%;
  }
  main .zone_grise .price {
    width: 300px;
    margin-left: 50px;
    justify-content: center;
  }
  main .zoneFaq {
    width: 500px;
    margin: auto;
  }
  main .zone_grise2 form {
    width: 300px;
    margin: auto;
  }
}/*# sourceMappingURL=index.css.map */