// ----- Header -----
header {
    @include couleurHeaderFooter();
    @include flexColumn ();

    .navBar{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h1{
            font-size: medium;
            padding: 20px;
        }
        .burger {
            width: 40px;
            padding: 20px;
            padding-right: 30px;
        }
        .desktopNav {
            display: none;
            align-items: center;
            padding-right: 30px;
            text-decoration: none;
            
            & a {
                margin-right: 10px;
                text-decoration: none;
                color: whitesmoke;
            }


        }
    }
    
    .entete{
        text-align: center;
        padding: 50px;
        margin-top: 30px;
        h2 {
            font-size: 28px;
        }
        .presentation{
            font-size: 12px;
            color: grey;
        }
        .lien1 {
            
            background: rgb(51, 133, 255);

            padding: 7px;
            text-decoration: none;
        }

        .lien2 {
            border:  1px solid rgb(255, 255, 255);
            border-radius: 5px;
            color: white;
            padding: 7px;
            text-decoration: none;
            margin-top: 10px;
        }

    }
}